/*********************************
 ------ Dropdown Styles ----------
 *********************************/

.dropdown:not([data-animation]) .dropdown-menu {
    @include animated(fadeIn, 300ms);
}

.dropdown-menu {
    box-shadow: $dropdown-shadow;
    padding: 10px 0;
    border-radius: 0px;
    top: -1px;
    margin: 0;
    border: 0;

    & > li > a {
        padding: 10px 20px;
        @include transition(background-color);
        @include transition-duration(300ms);
    }
    
    &[class*="bgm-"] {
        & > li > a {
            color: #fff;
        }
    }
}

.dropup {
    .dropdown-menu {
        bottom: -2px;
    }
}

.dropdown-header {
    padding: 3px 17px;
    margin-top: 10px;
    color: #b1b1b1;
    text-transform: uppercase;
    font-weight: normal;
}

.dm-icon {
    & > li > a > .zmdi {
        line-height: 100%;
        vertical-align: top;
        font-size: 18px;
        width: 28px;
    }
}

.dropdown-menu-lg {
    width: 300px;
}

.btn-group.open .dropdown-toggle {
    box-shadow: none;
}



/*
DP Custom
*/
.dropdown-menu-xl{
	width: 300px;
}
.dropdown-grid{
	ul{
		list-style: none;
	}
	
	.row {
		margin-left: 0;
		margin-right: 0;
	}
	
	/*.col-sm-8{*/
		padding-left:0;
		padding-right:0;
		
		> ul{
			padding-left:0;
			
			> li{
				float: left;
				width: 33.33%;
				height: 90px;
				padding: 20px 10px 10px 10px;
				margin: 0 -1px -1px 0;
				line-height: 1.4;
				text-align: center;
				
				> span{
					color: #757575;
					display: block;
				}
			}
		}
	/*}*/
	
	.col-sm-4{
		border-left: 1px solid #ddd;
		
		ul{
			margin: 0 0 0 -15px;
			padding-left: 0;
			
			> li{
				padding: 8px 15px 8px 25px;
				
				> a{
					color: #444;
					display: block;
					text-decoration: none;
				}
			}
			
			> li:hover{
				background-color:#F5F5F5;
			}
		}
	}
	
	.zmdi {
		font-size: 36px;
		vertical-align: -16px;
		color: #333;
	}
	
}