/*
 *----------------------------------------------------------
 * File Name : preloader-progress-bar.less                                   
 * Short Desc: Preloader and Progress Bar Styles  
 * Author    : Turbo
 * ---------------------------------------------------------
 */
 
/* Preloader classes */
/*-------------------*/ 
.preloader {
  position: relative;
  margin: 0px auto;
  display: inline-block;

  &:not([class*="pl-"]) {
    width: 40px;
  }

  &:before {
    content:'';
    display: block;
    padding-top: 100%;
  }

  &.pl-xs { width: 20px; }
  &.pl-sm { width: 30px; }
  &.pl-lg { width: 50px; }
  &.pl-xl { width: 80px; }
  &.pl-xxl { width: 100px; }

  &:not([class*="pls-"]) {
    .plc-path {
      animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    }
  }

  &[class*="pls-"] .plc-path {
    animation: dash 1.5s ease-in-out infinite;
  }

  &.pls-red .plc-path { stroke: $brand-danger; }
  &.pls-blue .plc-path { stroke: $brand-info; }
  &.pls-green .plc-path { stroke: $brand-success; }
  &.pls-yellow .plc-path { stroke: $brand-warning; }
  &.pls-bluegray .plc-path { stroke: $gray-color; }
  &.pls-amber .plc-path { stroke: $brand-warning; }
  &.pls-teal .plc-path { stroke: $brand-rose; }
  &.pls-gray .plc-path { stroke: $gray-color; }
  &.pls-pink .plc-path { stroke: $brand-rose; }
  &.pls-purple .plc-path { stroke: $brand-primary; }
  &.pls-white .plc-path { stroke: #fff; }
}

.pl-circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
}

.plc-path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-width: 2;
  stroke-miterlimit: 10;
  fill: none;
}

@keyframes rotate{
  100%{
    transform: rotate(360deg);
  }
}
@keyframes dash{
  0%{
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50%{
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px;
  }
  100%{
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color{
  100%, 0%{
    stroke: $brand-danger;
  }
  40%{
    stroke: $brand-info;
  }
  66%{
    stroke: $brand-success;
  }
  80%, 90%{
    stroke: $brand-warning;
  }
}

.mk-spinner-pie {
    content: "";
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    z-index: 1;
    background: transparent;
    border-radius: 50%;
    border: 25px solid;
    border-color: #FFCA28 #EEFF41 #00BCD4 #1DE9B6;
    -moz-animation: rotate 0.4s infinite linear;
    -webkit-animation: rotate 0.4s infinite linear;
    animation: rotate 0.4s infinite linear;
}

.mk-spinner-doublecircle {
    background: transparent;
    -moz-animation: rotate 2s linear infinite;
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
}

.mk-spinner-doublecircle:after, .mk-spinner-doublecircle {
    border: 3px solid;
    border-radius: 50%;
    content: "";
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    z-index: 1;
}
.mk-spinner-doublecircle {
    border-color: #1DE9B6 rgba(0,0,0,0.07) #1DE9B6 rgba(0,0,0,0.07);
}

.mk-spinner-doublecircle:after {
    border-color: transparent #EEFF41 transparent #EEFF41;
    -moz-animation: rotate 6s linear infinite;
    -webkit-animation: rotate 6s linear infinite;
    animation: rotate 6s linear infinite;
}


/* Progress Bar classes */
/*----------------------*/ 
.progress {
    box-shadow: none;
    border-radius: 0;
    height: 5px;
    margin-bottom: 0;
    
    .progress-bar {
        box-shadow: none;
    }
	
	.pb-success { background-color: #4CAF50; }
	.pb-info { background-color: #00BCD4; }
	.pb-warning { background-color: #FF9800; }
	.pb-danger { background-color: #F44336; }
	.pb-inverse { background-color: #000; }
	
	&.pb-xs { height: 5px !important; }
  	&.pb-sm { height: 8px !important; }
	&.pb-md { height: 15px !important; }
  	&.pb-lg { height: 20px !important; }
}

.progress .indeterminate:before {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    -moz-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    -ms-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    -o-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}
.progress .indeterminate:after {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -moz-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -ms-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -o-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -webkit-animation-delay: 1.15s;
    -moz-animation-delay: 1.15s;
    -ms-animation-delay: 1.15s;
    -o-animation-delay: 1.15s;
    animation-delay: 1.15s;
}